/* app.component.css */

  table {
    width: 100%;
  }

  /* app.component.css */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}