<div class="card">
    <p-toast />
    <p-toolbar styleClass="gap-2">
        <ng-template pTemplate="left">
            <div class="flex align-items-center justify-content-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event)" placeholder="Search..." />
                </span>
            </div>

        </ng-template>

        <ng-template pTemplate="right">
            <button (click)="openNew()"
                class="border-0 btn btn-primary py-2 px-3 px-sm-4 text-white fs-14 fw-semibold rounded-3"
                data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <span>+ Add New Product</span>
            </button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="products" [rows]="10" [paginator]="true"
        [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
        [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">
                    Name <p-sortIcon field="name" />
                </th>
                <th pSortableColumn="price">
                    Price <p-sortIcon field="price" />
                </th>
                <th pSortableColumn="category">
                    Category <p-sortIcon field="category" />
                </th>
                <th pSortableColumn="subCategory">
                    Sub Category <p-sortIcon field="subCategory" />
                </th>
                <th pSortableColumn="size">
                    Size <p-sortIcon field="size" />
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>
                    {{product.name}}
                </td>
                <td>
                    ₹ {{ product.price }}
                </td>
                <td>
                    {{ product.category }}
                </td>
                <td>
                    {{ product.subCategory }}
                </td>
                <td>
                    {{ product.size }}
                </td>
                <td>
                    <div class="grid-btns">
                        <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" severity="success"
                            (onClick)="editProduct(product)" />
                        <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                            (onClick)="deleteProduct(product)" />
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{ products ? products.length : 0 }} products.
            </div>
        </ng-template>
    </p-table>

    <p-dialog [(visible)]="productDialog" [style]="{ width: '850px' }" header="Product Details" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">

            <div class="row">
                <div class="col-md-6">
                    <div class="product-profile-img">
                        <img src="../../../../assets/images/img_placeholder.webp" alt="">
                        <div class="product-image-upload">
                            <label for="file-input">
                                <i class="pi pi-camera"></i>
                            </label>
                            <input id="file-input" type="file" />
                        </div>
                    </div>
                    <div class="product_secondary_imgs">
                        <div class="product-secondary-imgs-item">
                            <img src="../../../../assets/images/img_placeholder.webp" alt="">
                        </div>
                        <div class="product-secondary-image-upload">
                            <label for="file-input">
                                <i class="pi pi-plus"></i>
                            </label>
                            <input id="file-input" type="file" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="field">
                                <label for="name">Product Name</label>
                                <input type="text" pInputText id="name" [(ngModel)]="product.name" required />
                                <small class="p-error" *ngIf="submitted && !product.name">
                                    Product Name is required.
                                </small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="field">
                                <label for="price">Price</label>
                                <input type="text" pInputText id="price" required [(ngModel)]="product.price" />
                                <small class="p-error" *ngIf="submitted && !product.price">
                                    Price is required.
                                </small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="field">
                                <label for="price">Price</label>
                                <input type="text" pInputText id="price" required [(ngModel)]="product.price" />
                                <small class="p-error" *ngIf="submitted && !product.price">
                                    Price is required.
                                </small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="field">
                                <label for="category">Category</label>
                                <ng-multiselect-dropdown [placeholder]="'custom placeholder'"
                                    [settings]="dropdownSettings" [data]="dropdownList" [(ngModel)]="selectedItems"
                                    (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                </ng-multiselect-dropdown>
                                <small class="p-error" *ngIf="submitted && !product.category">
                                    Category is required.
                                </small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="field">
                                <label for="subCategory">Sub Category</label>
                                <input type="text" pInputText id="subCategory" [(ngModel)]="product.subCategory"
                                    required />
                                <small class="p-error" *ngIf="submitted && !product.subCategory">
                                    Sub Category is required.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="field">
                        <label for="description">Description</label>
                        <p-editor [(ngModel)]="product.description" [style]="{ height: '320px' }" />
                        <small class="p-error" *ngIf="submitted && !product.description">
                            Description is required.
                        </small>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="field">
                        <label for="bestseller">Bestseller</label>
                        <input type="text" pInputText id="bestseller" [(ngModel)]="product.bestseller" required />
                        <small class="p-error" *ngIf="submitted && !product.bestseller">
                            Bestseller is required.
                        </small>
                    </div>
                </div>
            </div>


        </ng-template>

        <ng-template pTemplate="footer">
            <p-button label="Cancel" icon="pi pi-times" [text]="true" (onClick)="hideDialog()" />
            <p-button label="Save" icon="pi pi-check" [text]="true" (onClick)="saveProduct()" />
        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{ width: '450px' }" />
</div>