<div *ngIf="showHeaderAndSidebar">
  <div class="d-flex nb-dashboard" [ngClass]="{ 'dragged-dashboard': toggleClass }">
    <app-sidebar *ngIf="showSidebar"></app-sidebar> <!-- SidebarComponent -->
    <div class="main content">
      <app-header 
        *ngIf="showHeaderAndSidebar" 
        (dragSidebarClassEvent)="dragSidebarToggleClass()"
      ></app-header> <!-- HeaderComponent -->
      <router-outlet></router-outlet> <!-- Angular Router Outlet -->
    </div>
  </div>
</div>

<div *ngIf="!showHeaderAndSidebar">
  <router-outlet></router-outlet> <!-- Angular Router Outlet for login route -->
</div>
