<div class="card">
    <p-toast />
    <p-toolbar styleClass="gap-2">
        <ng-template pTemplate="left">
            <div class="flex align-items-center justify-content-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event)" placeholder="Search..." />
                </span>
            </div>

        </ng-template>

        <ng-template pTemplate="right">
            <button (click)="openNew()"
                class="border-0 btn btn-primary py-2 px-3 px-sm-4 text-white fs-14 fw-semibold rounded-3"
                data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <span>+ Add New Employee</span>
            </button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="employees" [rows]="10" [paginator]="true"
        [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
        [(selection)]="selectedEmployees" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">
                    Name <p-sortIcon field="name" />
                </th>
                <th pSortableColumn="designation">
                    Designation <p-sortIcon field="designation" />
                </th>
                <th pSortableColumn="joiningDate">
                    Joining Date <p-sortIcon field="joiningDate" />
                </th>
                <th pSortableColumn="status">
                    Status <p-sortIcon field="status" />
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-employee>
            <tr>
                <td>
                    {{employee.fisrtName}} {{employee.lastName}}
                </td>
                <td>
                    {{ employee.designation }}
                </td>
                <td>
                    {{ employee.joiningDate }}
                </td>
                <td>
                    {{ employee.status }}
                </td>
                <td>
                    <div class="grid-btns">
                        <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" severity="success"
                            (onClick)="editEmployee(employee)" />
                        <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                            (onClick)="deleteEmployee(employee)" />
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{ employees ? employees.length : 0 }} employees.
            </div>
        </ng-template>
    </p-table>

    <p-dialog [(visible)]="employeeDialog" [style]="{ width: '850px' }" header="Employee Details" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">

            <div class="row">
                <div class="col-md-3">
                    <div class="employee-profile-img">
                        <img src="../../../../assets/images/emp_img.jpg" alt="">
                        <div class="employee-image-upload">
                            <label for="file-input">
                                <i class="pi pi-camera"></i>
                            </label>
                            <input id="file-input" type="file"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="field">
                                <label for="fisrtName">First Name</label>
                                <input type="text" pInputText id="fisrtName" [(ngModel)]="employee.fisrtName"
                                    required />
                                <small class="p-error" *ngIf="submitted && !employee.fisrtName">
                                    First Name is required.
                                </small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="field">
                                <label for="middleName">Middle Name</label>
                                <input type="text" pInputText id="middleName" [(ngModel)]="employee.middleName" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="field">
                                <label for="lastName">Last Name</label>
                                <input type="text" pInputText id="lastName" [(ngModel)]="employee.lastName" required />
                                <small class="p-error" *ngIf="submitted && !employee.lastName">
                                    Last Name is required.
                                </small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="field">
                                <label for="contactNummer">Contact Nummer</label>
                                <input type="text" pInputText id="contactNummer" [(ngModel)]="employee.contactNummer"
                                    required />
                                <small class="p-error" *ngIf="submitted && !employee.contactNummer">
                                    Contact Nummer is required.
                                </small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="field">
                                <label for="EmergencyContactNummer">Emergency Contact Nummer</label>
                                <input type="text" pInputText id="EmergencyContactNummer"
                                    [(ngModel)]="employee.EmergencyContactNummer" required />
                                <small class="p-error" *ngIf="submitted && !employee.EmergencyContactNummer">
                                    Emergency Contact Nummer is required.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="field">
                        <label for="address">Address</label>
                        <textarea id="address" pInputTextarea [(ngModel)]="employee.address" required rows="3" cols="20">
                            </textarea>
                        <small class="p-error" *ngIf="submitted && !employee.address">
                            Address is required.
                        </small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="field">
                        <label for="permenantAddress">Permenant Address</label>
                        <textarea id="permenantAddress" pInputTextarea [(ngModel)]="employee.permenantAddress" rows="3" cols="20">
                            </textarea>
                    </div>
                </div>
               
                <div class="col-md-6">
                    <div class="field">
                        <label for="experienceBagManufacturingDetails">Bag Manufacturing Experience (if any)</label>
                        <textarea id="experienceBagManufacturingDetails" pInputTextarea
                            [(ngModel)]="employee.experienceBagManufacturingDetails" rows="3" cols="20">
                            </textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="field">
                        <label for="experienceSewingMachineDetails">Sewing Machine Experience (if any)</label>
                        <textarea id="experienceSewingMachineDetails" pInputTextarea
                            [(ngModel)]="employee.experienceSewingMachineDetails" rows="3" cols="20">
                            </textarea>
                    </div>
                </div>
            </div>


        </ng-template>

        <ng-template pTemplate="footer">
            <p-button label="Cancel" icon="pi pi-times" [text]="true" (onClick)="hideDialog()" />
            <p-button label="Save" icon="pi pi-check" [text]="true" (onClick)="saveEmployee()" />
        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{ width: '450px' }" />
</div>